<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>home page</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                             <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="/blog_home">Blog Home</a></li>
                                    <li><a class="dropdown-item" href="/blog_post">Blog Post</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">

                                <h1 class="display-5 fw-bolder text-white mb-2">Ukko</h1>
<p class="lead fw-normal text-white-50 mb-4">Our mission is to improve
the lives of the millions that
suffer from food allergies
and gluten-related disorders</p>

 
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://static.wixstatic.com/media/feedb0_dc9104c8144d447eb993549c16841d0f~mv2_d_4393_2470_s_4_2.jpg/v1/fill/w_1833,h_691,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/feedb0_dc9104c8144d447eb993549c16841d0f~mv2_d_4393_2470_s_4_2.jpg" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Some statistics</h2>
                        	<p id = "pcolor" >Food allergies and gluten-related disorders are on the rise,
with significant social, health, and economic impact</p>
</div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    
                                    <h2 class="font_2" style="font-size:107px; line-height:1em; "><span style="font-size:107px;"><span style="color:#CF7D29;"><span style="font-family:wfont_feedb0_4d728b559c3341889e5a243c62d9a141,wf_4d728b559c3341889e5a243c6,orig_roboto_thin;">$25B</span></span></span></h2>
                                    <p class="mb-0">each year is spent on healthcare costs related to food allergies and disorders</p>
                                </div>
                                <div class="col mb-5 h-100">
                                   
                                    <img  src="https://static.wixstatic.com/media/feedb0_b78e4ea11b9c4b53bec4edddf898af7d~mv2.png/v1/fill/w_208,h_100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/feedb0_b78e4ea11b9c4b53bec4edddf898af7d~mv2.png">
                                    <p class="mb-0">1 in every 13 children in
the United States is affected by food allergies</p>
                                </div>

                                <div id = "pics" class="col mb-5 mb-md-0 h-100">
                                   
                                    <img  src="https://static.wixstatic.com/media/feedb0_15d0fc2dd15347f089fea74caa9d806d~mv2.png/v1/fill/w_213,h_100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/feedb0_15d0fc2dd15347f089fea74caa9d806d~mv2.png">
                                    <p class="mb-0">new cases of celiac
disease have doubled every fifteen years</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">
We are using cutting
edge technologies in immunology, computational biology, and protein engineering to develop a new approach</div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->
            <section class="py-5" >
                <div class="container px-5 my-5 ">
      
                    <div class="row gx-5"id = "rowcenter" >
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                               
                                <div  class="card-body p-4">
                                   
<img src="https://static.wixstatic.com/media/feedb0_e12e2109b35f4d0b960e58867af19669~mv2.png/v1/fill/w_44,h_64,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/sequence_B-yellowtrans.png">
<br><br>
                                    <p class="card-text mb-0">
We are building a comprehensive, clinically validated map of the molecular structure of food allergies and disorders, unlocking critical knowledge about the biological mechanisms that drive human food interactions.</p>

                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            
                                            <div class="small">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

         
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                             
                                <div class="card-body p-4">
                                    <img src="https://static.wixstatic.com/media/feedb0_d0557462b3294ca8b79ec2aa36ffb502~mv2.png/v1/fill/w_60,h_64,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/map_C-yellowtrans.png">
                                    <p class="card-text mb-0">On the basis of this map, we design proteins that do not trigger an immune response. These proteins are then applied to the food and therapeutics markets.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            
                                            <div class="small">
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                      
                          
                        </div>
                    </aside>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
     
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
